body {
    font-family: 'Lato', sans-serif;
    /* background-color: #e3e3e3a2; */
    background-color: #f0f0f0;
    font-size: 14px;
    color: black;
}

/* //navigation// */

header img {
    width: 30px;
    height: auto;
}

header #menu {
    margin-top: -40px;
}

header #menu div:not(:nth-last-child(-n+3)) a {
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 0;
}

header #menu div:hover:not(:nth-last-child(-n+3)) {
    background: linear-gradient(to bottom, white 40%, #ffdd0096);
}

#navigation .icon {
    font-size: 24px;
    color: black;
}

div#menu {
    width: 50%;
}

#navigation .mobile-menu .icon {
    padding: 0 7px;
}

.mobile-menu {
    position: relative;
}

.logo-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* product mobile menu */

#product-mobile-menu {
    border-top: 1px solid #e3e3e3a2;
    background: white;
    margin-bottom: 1rem;
}

#product-mobile-menu li {
    padding: 15px 0;
    font-size: 0.8rem;
    font-weight: 700;
    width: 25%;
    text-align: center;
}

#product-mobile-menu li a {
    color: black;
    text-decoration: none;
}

#product-mobile-menu .active {
    background: #ffdd00;
    color: white;
}

#product-mobile-menu .active a {
    color: white;
}

/* breadcrumb  */

.directory li {
    margin: 0 5px;
    font-size: 80%;
    font-weight: bold;
    color: gray;
}

.directory li:first-of-type .icon {
    font-size: 16px;
    vertical-align: top;
}

.directory li:last-child {
    color: black;
}

.directory li:first-child {
    color: black;
}

.directory li:not(:first-child) i {
    color: #ffdd00;
}


/* sidebar */

.sidebar {
    position: sticky;
    top: 16rem;
    z-index: 1000;
    height: calc(100vh - 16rem);
    /* top: 25%;
    z-index:100; */
}

.sidebar div {
    margin: 1.5rem 0;
}

.sidebar div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 85%;
}

.sidebar div ul li {
    margin-left: 25px;
}

.sidebar .icon {
    font-size: 24px;
}

#menu-options-overlay {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

#menu-options-overlay h3 {
    font-size: 17vh;
    font-weight: bold;
    color: white;
    transform: scaleY(0.9);
}


/* //product-details */

.product {
    padding-top: 18px;
    padding-bottom: 18px;
}

.square {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 100%;
}

.square img {
    position: absolute;
    width: 100%;
    height: 95%;
    left: -12%;
    top: 50%;
    transform: translateY(-50%);
}

.product-details h2 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}

.ratings span {
    font-size: 16px;
}

.ratings span:nth-of-type(5) {
    color: #e3e3e3a2;
}

.checked {
    color: #ffdd00;
}

.price {
    font-size: 1.2rem;
}

.strikethrough {
    text-decoration: line-through;
    color: #b3b0b0;
    margin-right: 5px;
}

hr {
    color: #e3e3e3a2;
    width: 80%;
    margin-left: 0;
}

.specification {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.deliveryAndPolicy {
    max-width: 70%;
}

.deliveryAndPolicy .icon {
    padding: 5px 10px;
    text-align: center;
    background: #e3e3e3a2;
    border-radius: 50%;
    font-size: 20px;
    vertical-align: middle;
}

.deliveryAndPolicy li {
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1px;
}

.product-color ul li {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
}

.product-color ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}

.product-color ul li:last-of-type {
    border: 1px solid #c5c5c5;
}

.product-color p {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 7px;
}

.quantity li:not(:last-of-type) {
    background-color: #e3e3e3a2;
    padding: 0.6rem 0.6rem;
}

.quantity li:last-of-type {
    padding: 0.6rem 3rem;
    background: #ffc400c2;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
}

/*description*/
.description {
    position: relative;
    /* height: 80vh; */
    /* margin: 6rem 0; */
    margin-top: 6rem;
    margin-bottom: 6rem;
    transform: scaleY(1.1);
    background-color: #f0f0f0;
}

.description-text p {
    position: relative;
    top: 25%;
    padding: 0 30px;
    text-align: justify;
    font-weight: 300;
    /* max-height: 70%; */
}

.description-image img {
    height: 100%;
    width: 100%;
}

.description-heading {
    position: absolute;
    top: -1%;
    left: 0;
    background: #f0f0f0;
    z-index: 100;
    width: 48%;
    padding: 1.4rem 0;
}

.description-heading h2 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 40px;
}