@media (max-width: 1200px) {
    div#menu {
        width: 60%;
    }

    .deliveryAndPolicy {
        max-width: 90%;
    }

    .quantity li:not(:last-of-type) {
        padding: 0.4rem 0.4rem;
    }

    .quantity li:last-of-type {
        padding: 0.4rem 2rem;
    }

    .description-text p {
        font-size: 0.84rem;
    }

    .description-heading {
        width: 52%;
        padding: 0.8rem 0;
    }

    .description-heading h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .text-overlay {
        left: -1%;
    }
    .text-overlay p span {
        font-size: 12px;
    }
    .text-overlay span::before {
        top: 9px;
        width: 70px;
    }
    
    .extra-photo img {
        /* transform: scaleY(1.1); */
    }

    .image-overlay img {
        /* top: 65%; */
        left: 8%;
    }

    .download-pdf {
        /* top: 89%; */
    }

    /*testimonials*/
    #testimonials {
        padding-left: 4rem;
        padding-right: 2rem;
    }

    .footer-links {
        padding-left: 2.5rem;
    }
}

@media (max-width: 992px) {
    div#menu {
        width: 75%;
    }

    .sidebar div {
        padding-right: 0;
    }
    .sidebar div ul li {
        margin-left: 10px;
    }

    .product {
        padding-left: 5rem;
    }

    .product-details h2 {
        font-size: 1.4rem;
    }

    .deliveryAndPolicy .icon {
        padding: 4px 8px;
        font-size: 16px;
        vertical-align: middle;
    }

    .deliveryAndPolicy {
        max-width: 95%;
    }

    .quantity li:not(:last-of-type) {
        padding: 0.3rem 0.3rem;
    }

    .quantity li:last-of-type {
        padding: 0.3rem 1.5rem;
    }

    .product-color ul li {
        height: 15px;
        width: 15px;
    }

    .description-text p {
        font-size: 0.84rem;
        padding: 0 15px;
        top: 30%;
    }

    .description-heading {
        width: 58%;
        padding: 0.7rem 0;
    }

    .description-heading h2 {
        font-size: 1.5rem;
        padding-left: 30px;
    }

    .video-title-overlay {
        width: 50%;
    }

    .video-title-overlay h2 {
        letter-spacing: 1px;
        padding: 1.2rem 0;
        padding-right: 15px;
    }

    .product-video a i.icon {
        padding: 15px 25px;
    }

    .extra-photo {
        margin-top: 5rem;
        padding-left: 5rem;
    }

    .image-overlay img {
        top: 59%;
        left: 5%;
    }

    .download-pdf a .icon {
        margin-right: 10px;
        font-size: 24px;
    }

    #testimonials {
        padding-right: 3rem;
    }

    #testimonials h2 {
        margin-bottom: 2rem;
    }

    #related-products {
        margin-top: 5rem;
        padding-left: 3rem;
    }

    .footer-heading {
        padding: 4rem 0;
    }

    .footer-links {
        padding-left: 2rem;
    }

    footer .icon {
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    #navigation .mobile-menu .icon {
        padding: 0 13px;
    }

    #menu div:nth-last-child(-n+3) {
        display: none;
    }

    div#menu {
        width: 100%;
        margin-top: 1rem;
    }

    #menu div {
        padding: 5px 0;
    }

    .product {
        margin-top: 4rem;
        padding-left: 1rem;
    }

    .product-details {
        padding: 2rem 0;
    }


    .deliveryAndPolicy {
        max-width: 80%;
    }

    .icon.ion-ios-close {
        font-size: 32px;
    }

    .square img {
        left: -13%;
    }

    .description {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .description-text p {
        font-size: 0.84rem;
        padding: 0 15px;
    }

    .description-heading {
        width: 56%;
        padding: 0.5rem 0;
    }

    .description-heading h2 {
        font-size: 1.2rem;
        padding-left: 30px;
    }

    .product-video {
        padding: 4rem 0;
        padding-left: 2rem;
    }

    .video-title-overlay h2 {
        padding: 1rem 0;
        font-size: 1.3rem;
        padding-right: 15px;
    }

    .extra-photo {
        padding-left: 3rem;
        margin-top: 4rem;
    }

    .image-overlay img {
        top: 59%;
        left: 3%;
    }

    .download-pdf a {
        font-size: 12px;
    }

    .download-pdf a .icon {
        margin-right: 5px;
        font-size: 20px;
    }

    #testimonials {
        padding-left: 2rem;
    }

    #testimonials h2 {
        margin-bottom: 1rem;
    }

    #related-products {
        margin-top: 4rem;
        padding-left: 2rem;
    }

    footer {
        margin-top: 0rem;
        padding: 0;
        padding-top: 3rem;
    }

    .footer-heading {
        padding: 3rem 0;
    }

    .footer-links {
        padding-left: 1rem;
    }
}

@media (max-width: 576px) {
    #navigation .mobile-menu .icon {
        padding: 0 8px;
    }

    .product {
        margin-right: 4px;
        padding-left: 1rem;
        margin-bottom: 4rem;
    }

    .square {
        width: 90%;
    }

    .square img {
        top: 35%;
        left: 0;
    }

    .product-details {
        padding-top: 0;
        padding-bottom: 3rem;
    }

    .product-details h2 {
        font-size: 1.6rem;
    }

    .deliveryAndPolicy {
        max-width: 70%;
    }

    .description {
        margin: 0 4px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background-color: white;
        transform: scale(1);
    }

    .description-image img {
        width: 100%;
        height: auto;
    }

    .description-image {
        padding-bottom: 2rem;
    }

    .description-text p {
        font-size: 0.84rem;
        padding: 0;
        padding-right: 20px;
    }

    .description-heading {
        position: relative;
        width: 100%;
        background: white;
    }

    .description-heading h2 {
        font-size: 1.5rem;
        padding: 0;
        line-height: 30px;
    }

    .product-video {
        padding: 0 0;
        padding-bottom: 2rem;
        margin: 0 4px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background-color: white;
    }

    .video-title h2 {
        font-weight: 700;
        padding: 0;
        font-size: 1.5rem;
        line-height: 30px;
        width: 100%;
    }

    .extra-photo {
        margin-top: 1rem;
    }

    .background-photo {
        background-image: url('../images/kara-eads-1506373-unsplash.jpg');
        background-color: #cccccc;
        height: 90vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .image-overlay img {
        top: 60%;
        left: -9%;
        width: 100%;
        height: 30%;
    }

    .text-overlay {
        top: 14%;
        left: -36%;
    }
    .text-overlay p span {
        font-size: 14px;
    }

    .download-pdf {
        top: 0;
        left: 25%;
        width: 75%;
        height: 17%;
    }

    .download-pdf a {
        font-size: 1rem;
    }

    .download-pdf a .icon {
        margin-right: 15px;
        font-size: 32px;
    }

    #testimonials {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #testimonials h2 {
        margin-bottom: 1rem;
    }

    #related-products {
        margin: 3rem 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #related-products h2 {
        margin-bottom: 2rem;
    }

    footer {
        padding-top: 1rem;
    }

    .footer-links {
        padding-left: 0;
    }

    #footer-nav-links div {
        margin: 1rem 0;
    }

    footer .icon {
        font-size: 24px;
    }

    footer ul li {
        margin: 1.5rem;
    }
}